# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\demo\python-demo\T-GCN-PyTorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
